<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container px 5">
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <img class="rounded-circle" 
                    src="../img/1.jpg" 
                    alt="" 
                    style="width:40px; height:40px;">
                  <h5 class="card-title">I love black mesa</h5>
                  <h6 class="card-subtitle mb-2 text-muted">@blackmesascientist50</h6>
                  <p class="card-text">My god, What are you doing?!</p>
                  <a href="#" class="card-link">Show thread</a>
                </div>
              </div>
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <img class="rounded-circle" 
                    src="../img/2.jpg" 
                    alt="" 
                    style="width:40px; height:40px;">
                    <h5 class="card-title">Barney</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@barneythesecurityguard123</h6>
                    <p class="card-text">Hey catch me later and i'll buy you a beer</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div>
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                        <img class="rounded-circle" 
                        src="../img/ja.jpg" 
                        alt="" 
                        style="width:40px; height:40px;">
                    <h5 class="card-title">Sune Bune</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@sunebune1337</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur explicabo itaque corporis error hic, recusandae consequuntur iure. Harum, quibusdam itaque? Non optio voluptatem perferendis veniam, eveniet error sunt illum.</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div>
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                        <img class="rounded-circle" 
                        src="../img/3.jpeg" 
                        alt="" 
                        style="width:40px; height:40px;">
                    <h5 class="card-title">Bruh</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@bruh</h6>
                    <p class="card-text">bruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruhbruh</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div> 
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                        <img class="rounded-circle" 
                        src="../img/4.jpg" 
                        alt="" 
                        style="width:40px; height:40px;">
                    <h5 class="card-title">Ridiculous_ties</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@blackmesascientist521</h6>
                    <p class="card-text">I wont take another step!</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div>
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                        <img class="rounded-circle" 
                        src="../img/ja.jpg" 
                        alt="" 
                        style="width:40px; height:40px;">
                    <h5 class="card-title">Author</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@username</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores culpa, unde perspiciatis recusandae non provident quos reprehenderit, dolores facilis facere neque, soluta iusto praesentium. Tempora minima alias nam sequi eveniet!</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div> 
    <div class="card" style="width: 50rem;">
                <div class="card-body">
                        <img class="rounded-circle" 
                        src="../img/ja.jpg" 
                        alt="" 
                        style="width:40px; height:40px;">
                    <h5 class="card-title">Author</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@username</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores culpa, unde perspiciatis recusandae non provident quos reprehenderit, dolores facilis facere neque, soluta iusto praesentium. Tempora minima alias nam sequi eveniet!</p>
                    <a href="#" class="card-link">Show thread</a>
                </div>
            </div>               
</body>
</html>